<nav class="container">
        <div class="brand">Career Guidance System</div>
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/profile">Account</a></li>
            <li><a href="/recommend">College</a></li>
            <li><a href="/predict">Graduates</a></li>
            <li><a href="/starter">Home</a></li>
            <li><a href="#" style="color: #FFA500;">{{ session.uname }}</a></li>

        </ul>
</nav>