<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Quality Assurance (QA) / Testing Roadmap</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style4.css')}}"/>
</head>
<body>
    <header>
        <h1>Software Quality Assurance (QA) / Testing Roadmap</h1>
        <p>Your guide to becoming a successful software quality assurance engineer</p>
    </header>
    <main>
        <section class="roadmap-section">
            <h2>1. Fundamentals of Software Testing</h2>
            <div class="content">
                <div class="text">
                    <p>Start by learning the fundamentals of software testing, including principles, methodologies, and techniques.</p>
                    <ul>
                        <li>Textbook: <a href="https://books.google.co.in/books/about/Software_Testing.html?id=Yt2yRW6du9wC&redir_esc=y" target="_blank">"Software Testing: Principles and Practices" by Srinivasan Desikan and Gopalaswamy Ramesh</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/watch?v=ILkT_HV9DVU" target="_blank">Software Testing Fundamentals by Guru99</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="roadmap-section">
            <h2>2. Test Automation</h2>
            <div class="content">
                <div class="text">
                    <p>Learn how to automate software testing processes using tools and frameworks like Selenium, Appium, and JUnit.</p>
                    <ul>
                        <li>Textbook: <a href="https://books.google.co.in/books/about/Selenium_Webdriver_in_Practice.html?id=5oL0jwEACAAJ&redir_esc=y" target="_blank">"Selenium WebDriver: From Foundations To Framework" by Yujun Liang and Alex Collins</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/watch?v=dZLyfbSQPXI" target="_blank">Selenium Tutorial for Beginners by ExecuteAutomation</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="roadmap-section">
            <h2>3. Performance Testing</h2>
            <div class="content">
                <div class="text">
                    <p>Understand how to evaluate and optimize the performance of software applications using tools like JMeter and LoadRunner.</p>
                    <ul>
                        <li>Textbook: <a href="https://github.com/Raghav-Pal" target="_blank">"Performance Testing with Open Source Tools: A Beginner's Guide" by Raghav Pal</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/watch?v=TDynSmrzpXw&list=PLDC2A0C8D2EC934C7" target="_blank">Performance Testing Tutorial by Guru99</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="roadmap-section">
            <h2>4. Mobile Testing</h2>
            <div class="content">
                <div class="text">
                    <p>Learn how to test mobile applications across different devices and platforms, including Android and iOS.</p>
                    <ul>
                        <li>Textbook: <a href="https://books.google.co.in/books/about/Software_Testing.html?id=PjoesdBMp0UC&redir_esc=y" target="_blank">"Mobile Testing: The Complete Guide" by Srinivasan Desikan and Gopalaswamy Ramesh</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/watch?v=p17bmM-nwkc" target="_blank">Mobile Application Testing Tutorial by edureka!</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="roadmap-section">
            <h2>5. Security Testing</h2>
            <div class="content">
                <div class="text">
                    <p>Understand how to identify and address security vulnerabilities in software applications through comprehensive security testing.</p>
                    <ul>
                        <li>Textbook: <a href="https://www.amazon.com/Software-Security-Testing-CISCO-Press/dp/0137010143" target="_blank">"Software Security Testing" by Sagar Naik and Donald Stoddard</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/watch?v=8lniMtSOpC0" target="_blank">Security Testing Tutorial by Guru99</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="roadmap-section">
            <h2>6. Agile Testing</h2>
            <div class="content">
                <div class="text">
                    <p>Learn how to implement testing processes within agile development environments, emphasizing collaboration and continuous improvement.</p>
                    <ul>
                        <li>Textbook: <a href="https://www.geeksforgeeks.org/security-testing/" target="_blank">"Agile Testing: A Practical Guide for Testers and Agile Teams" by Lisa Crispin and Janet Gregory</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/watch?v=TDynSmrzpXw&list=PLDC2A0C8D2EC934C7" target="_blank">Agile Testing Tutorial by Guru99</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="roadmap-section">
            <h2>7. Test Management</h2>
            <div class="content">
                <div class="text">
                    <p>Explore test management tools and techniques for organizing, planning, and tracking testing activities.</p>
                    <ul>
                        <li>Textbook: <a href="https://www.amazon.com/Practical-Software-Testing-Survival-Guide/dp/1789804467" target="_blank">"Practical Software Testing: A Process-Oriented Approach" by Ilene Burnstein</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/watch?v=cNNQV1Ely24" target="_blank">Test Management Tutorial by edureka!</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
