<!DOCTYPE html>
<html>
<head>
    <title>Recommendation Result</title>
    <style>
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container3 {
    width: 80%;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the text */
    border: 2px solid #007bff;
}

h1 {
    color: #007bff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

strong {
    color: #28a745;
}

</style>
</head>
<body>
<div class="container3">
    <h1>Career Recommendation Result</h1>
    <p>Your recommended career is: <strong>{{ recommendation }}</strong></p>
    <a href="/recommend">Go back to the form</a>
</div>
</body>
</html>
